@model SubEntityViewModel
<tr>
    <td>@Model.Entity</td>
    <td style="text-align:center">@Model.Name</td>
    <td style="text-align:center">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary js-render-modal"
           data-title="تعديل المستوى الاول للجهه" data-url="/SubEntity/Edit/@Model.Id" data-update="true">
            تعديل المستوى الاول للجهه
        </a>
    </td>
    <td style="text-align:end">
        <a href="javascript:;" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger js-confirm"
           data-title="حذف المستوى الاول للجهه" data-url="/SubEntity/Delete/@Model.Id" data-update="true" data-message="هل متأكد من حذف هذه الجهه؟">
            حذف المستوى الاول للجهه
        </a>
    </td>
</tr>